@model IEnumerable<WebMyPham.Models.SanPham>
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well well-small">
    <div class="row-fluid">
      @foreach (var i in Model)
      {
        <div class="span5">
            <div id="myCarousel" class="carousel slide cntr">
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="#"> <img src="assets/img/a.jpg" alt="" style="width:100%"></a>
                    </div>
                    <div class="item">
                        <a href="#"> <img src="assets/img/b.jpg" alt="" style="width:100%"></a>
                    </div>
                    <div class="item">
                        <a href="#"> <img src="assets/img/e.jpg" alt="" style="width:100%"></a>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
        </div>
        <div class="span7">
            <h3>Tên mặt hàng @i.tensp</h3>
            <hr class="soft" />

            <form class="form-horizontal qtyFrm">
                <div class="control-group">
                    <label class="control-label"><span></span></label>
                    <div class="controls">
                        <input type="number" class="span6" placeholder="Qty.">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"><span>Hãng sản xuất</span></label>
                    <div class="controls">
                        <select class="span11">
                            <option></option>
                            <option>Purple</option>
                            <option>Pink</option>
                            <option>Red</option>
                        </select>
                    </div>
                </div>
                
                <h4>Sản phẩm trong kho</h4>
               
                    <button type="submit" class="shopBtn"><span class=" icon-shopping-cart"></span> Thêm vào giỏ hàng</button>
            </form>
        </div>
    
    <hr class="softn clr" />


    <ul id="productDetail" class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Chi tiết sản phẩm</a></li>
        <li class=""><a href="#profile" data-toggle="tab">Sản phẩm liên quan</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acceseries <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#cat1" data-toggle="tab">Loại 1</a></li>
                <li><a href="#cat2" data-toggle="tab">Loại 2</a></li>
            </ul>
        </li>
    </ul>

      }
    </div>
</div>




