
@{
    //layout k thể chạy độc lập dk phải dk kế thừa từ các trang khác
    //Layout = null;//neu 1 trang là layout cua trang khác thì để null
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";//1 trang ke thừa từ trang layout của trang khác thì đưa đường dẫn tới
    ViewBag.Title = "Index";
}
@section NoiDungBenPhai
{
    
}

<h2>Index</h2>

